<html>
    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.min.css">
 
        <!-- You'll want to make sure to at least set a width on the -->
        <!-- .custom-file-container class... -->

    </head>
    <body>
 
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" type="text" name="title" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <label for="subtitle">Subtitle</label>
                            <input class="form-control" type="text" name="subtitle" placeholder="subtitle" required>
                        </div>
                        <div class="custom-file-container" data-upload-id="myUniqueUploadId">
                            <label>Upload Image <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">&times;</a></label>
                 
                            <label class="custom-file-container__custom-file" >
                                <input type="file" name="image" class="custom-file-container__custom-file__custom-file-input" accept="image/*" required>
                                <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                            </label>
                            <div class="custom-file-container__image-preview" style="overflow: hidden;"></div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
 

 
        ...
 
        <script src="https://unpkg.com/file-upload-with-preview"></script> 
        <script>
            let upload = new FileUploadWithPreview('myUniqueUploadId');
        </script> 

            <!-- https://www.npmjs.com/package/file-upload-with-preview -->
    </body>
</html>